Technology used- C#

Rules-
1.Use short datatype for small numbers instead of int to save space.
2.close the database connections to relsease the resources.
3.Use finally block after try-catch block to release all resources.
4.Use && instead of & to avoid unnecessory comparisions.
5.Call static members by class name for better readability. So that it prevents same static variable declaration in derived class.
6.Avoid writing very long methods if the method takes more lines then we have to factorize the method.
7.Use constants instead of hardcode numbers. And instead of constants we can store the values in config file in database.
8.Convert strings to lowercase or upper case before comparing. This will ensure the string will match even if the string being compared has a different case.
9.Use specific error messages in exeception handling.
10.Always use style sheet to control the look and feel of the pages. Never specify font name and font size in any of the pages.
11.Do not store large objects in session. Storing large objects in session may consume lot of server memory depending on the number of users.
